.clickable {
	cursor: pointer;
}

.pagination-centered {
  text-align: center;
  width: 100%
}

.sw4_notify {
	padding-top: 80px;	
	width: 100%;
	z-index: 999999;
	border-radius: 4 !important;
}

.sw4_notify > alert{
	width: 100% ;
	display: block;
	border-radius: 4 !important;
	margin-bottom: 5px;
}